<p>Welcome to StoryItR8!</p>

<p>You need to confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br/>

<p>
 Thank you,<br/><br/>
  StoryItR8<br/>
  <%= link_to "storyitr8.com", "http://www.storyitr8.com" %>
</p>
