<div>
  <%= link_to 'FF Consulting Group', root_path, class: 'navbar-brand page-scroll' %>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</div>
